.App {
  text-align: center;
  display:flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
}

.sidebar.one {
  width: 30%;
  background-color: white;
  padding: 20px;
  border: 1.5px solid whitesmoke;
  display:flexbox;
  height: 650px;
  float:left;
}
.sidebar.two {
  width: 40%;
  background-color: white;
  padding: 20px;
  border: 1.5px solid whitesmoke;
}
.sidebar.three{
  width: 30%;
  background-color: white;
  padding: 20px;
  border: 1.5px solid whitesmoke;
}
.bird {
  width: 60px;
  height: auto;
  margin-bottom: 20px;
  margin-left: -300px;
}

.new-to-twitter-box {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  display: block;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.new-to-twitter-box p {
  margin-right: 0px;
  font-size: 14px;
  color: grey;
}

.new-to-twitter-box button {
  background-color: #1da1f2;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.explore-side{
  text-align: left;
  margin-left: 10px;
}
.explore-side2{
  text-align: left;
}
.new-to-twitter-box button:hover {
  opacity: 0.9;
}
.sign-up-text{
  text-align:left;
  font-size:7px;
}

.new-to-text{
  text-align: left;
}

.glass{
  width: 25px;
  height: 25px;
  align-items: left;
  justify-content: left;
}
.glass,
.explore-side {
    display: inline-block;
    vertical-align: middle;
   
}