
.footer {
    background-color: #1da1f2;
    padding: 20px;
    text-align: center;
  }
  
  .sidebar.one {
    width: 25%;
    background-color: white;
    padding: 20px;
    border: 1.5px solid whitesmoke;
    display:flexbox;
    height: 650px;
    float:left;
  }
  .sidebar.two {
    width: 40%;
    background-color: white;
    padding: 20px;
    border: 1.5px solid whitesmoke;
  }
  .sidebar.three{
    width: 25%;
    background-color: white;
    padding: 20px;
    border: 1.5px solid whitesmoke;
  }
  .bird {
    width: 60px;
    height: auto;
    margin-bottom: 20px;
    margin-left: -300px;
  }
  
  .new-to-twitter-box {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    display: block;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .new-to-twitter-box p {
    margin-right: 0px;
    font-size: 14px;
    color: grey;
  }
  
  .new-to-twitter-box button {
    background-color: #1da1f2;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .explore-side{
    text-align: left;
    margin-left: 10px;
  }
  .explore-side2{
    text-align: left;
  }
  .new-to-twitter-box button:hover {
    opacity: 0.9;
  }
  .sign-up-text{
    text-align:left;
    font-size:7px;
  }
  
  .new-to-text{
    text-align: left;
  }
  
  .glass{
    width: 25px;
    height: 25px;
    align-items: left;
    justify-content: left;
    margin-left: -200px;
  }
  .glass,
  .explore-side {
      display: inline-block;
      vertical-align: middle;
     
  }